:root {
	//======================PRIMARY===============//

	//======text=======//
	--Very_dark_desaturated_blue: hsl(238, 29%, 16%);
	--Soft_red: hsl(14, 88%, 65%);
	//======text=======//

	//========BG Gradient =======//
	--Soft_violet: hsl(273, 75%, 66%);
	--Soft_blue: hsl(240, 73%, 65%);
	//========BG Gradient =======//

	//======================PRIMARY===============//

	//=====================NEUTRAL===============//

	//======text======//
	--Very_dark_grayish_blue: hsl(237, 12%, 33%);
	--Dark_grayish_blue: hsl(240, 6%, 50%);
	//======text======//

	//=====dividers====//
	--Light_grayish_blue: hsl(240, 5%, 91%);
	//=====dividers====//

	//=====================NEUTRAL===============//
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient((var(--Soft_violet), var(--Soft_blue)));
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Kumbh Sans", sans-serif;
}
a,
body,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
//=================Wrapper=============//
.wrapper {
	flex: 1 0 auto;
	margin-top: 14vh;
	max-width: 375px;
}

//=================Wrapper=============//

//=================Card component=============//

//=======Ilustration- woman - screen ===//

.img-top {
	display: block;
	position: relative;
	width: 240px;
	height: 220px;
	left: 50%;
	top: -140px;
	transform: translate(-50%);
}
.img-top-pattern {
	display: block;
	position: absolute;
	width: 240px;
	left: 50%;
	top: 150px;
	transform: translate(-50%);
}
.img-left {
	display: none;
	position: relative;
}
.img-box {
	display: none;
}
//=======Ilustration- woman - screen ===//

//=======Card size paddind etc ========//
.card {
	width: 350px;
	height: auto;
	border-radius: 20px;
	background-color: #fff;
	padding: 20px;
	font-size: 12px;
	margin-bottom: 40px;
	//======FAQ====//
	& h1 {
		text-transform: uppercase;
		text-align: center;
		display: block;
		font-size: 32px;
		margin-bottom: 20px;
		font-weight: 700;
		color: var(--Very_dark_desaturated_blue);
	}
	//======FAQ====//
}
//=======Card size paddind etc ========//

//====FAQ list===//
.faq_list {
	width: 100%;
	margin-top: -80px;
}
.faq_item {
	border-bottom: 1px solid var(--Light_grayish_blue);
	padding: 15px 0px;
}

details {
	transition: height 0.5s ease;
	overflow: hidden;
}

details:not([open]) {
	height: 1.5em;
}

details[open] {
	height: 7.5em;
}

details > summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	font-size: 14px;
	color: var(--Very_dark_grayish_blue);
	cursor: pointer;
	&::after {
		transition: transform 0.3s;
		content: "";
		background-image: url(../images/icon-arrow-down.svg);
		width: 10px;
		height: 10px;
		background-size: cover;
		background-position: center;
	}
}
details[open] > summary {
	font-weight: 700;
	transition: all 0.6s;
	&::after {
		transform: rotate(180deg);
	}
}
.faq_details {
	padding-top: 15px;
	color: var(--Dark_grayish_blue);
	line-height: 1.6;
}
//====FAQ list===//

//=================Card component=============//

//=====================Footer================//
.footer {
	flex-shrink: 0;
	position: relative;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: #fff;
	background-color: var(--Very_dark_desaturated_blue);
	& .attribution {
		text-align: center;
		& a {
			text-decoration: none;
			color: #fff;
			&:visited {
				color: #fff;
			}
		}
	}
}
//=====================Footer================//

//================Media====================//

@media (min-width: 1200px) {
	.wrapper {
		min-width: 900px;
	}
	.card {
		min-height: 500px;
		width: 900px;
		padding: 0px;
		padding-right: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background-image: url(../images/bg-pattern-desktop.svg);
		background-position: left -580px bottom 30%;
		background-repeat: no-repeat;
	}
	.faq_list {
		margin-top: 0px;
		padding: 60px 20px;
	}
	.img-top {
		display: none;
	}
	.img-top-pattern {
		display: none;
	}
	.img-left {
		display: block;
		transform: translate(-19%);
	}
	.bg_left {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.img-box {
		display: block;
	}
	.ilustration {
		overflow: hidden;
	}
	.box {
		position: absolute;
		left: -92px;
		top: 35%;
	}

	details > summary:hover {
		color: var(--Soft_red);
	}
}
